{% include "lancamento-nota.html" %}
<div class="form">
    <form action="/nota-update/" method="POST">{% csrf_token %}
         <input type="hidden" class="form-control" value="{{cpf_prof}}" name="prof">
        <input type="hidden"  class="form-control" value="{{id_disc}}" name="id_disc">
            <div style="text-align: right;  width:91%; padding:0;">
            <td>
                <button type="submit" class="btn btn-info">Atualizar notas e faltas</button>
            </td>
        </div>
    </form>
</div>