<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>D&D-Educacional</title>
    <!-- Bootstrap Core CSS -->
  <link href="/static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/static/css/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/css/css/stylish-portfolio.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/static/css/portal-aluno.css"/>
</head>
<body>
<img src="/static/image/img.png" width="150" height="120">
<div id="form">
    <form action="/situacao-aluno/"  method="POST">{% csrf_token %}
    <div class="menu-container">
    <ul class="menu clearfix">
        <li><button type="submit" class="btn btn-info">Consultar notas e Frequência</button></li>

        <a class="image-right" href="/login-aluno/"><img src="/static/image/exit.png" width="15" height="15"/></a>
    </ul>
</div>

        <div class="container-al">
            <p>
                {% for al in alunos %}
                <label id="label-principal">Dados Pessoais:</label>
                <img src="/static/image/{{al.foto}}" width="150" height="100"> <br>
                <input type="hidden" class="form-control" value="{{user}}" name="user"><br>
                <label class="texto">CPF: <input type="text"  class="dados-aluno" placeholder="Usuário" name="username" value="{{al.cpf}}" readonly></label></label><br>
                <label class="texto">Nome: <label class="dados-aluno">{{al.nome}}</label></label> <br>
                <label class="texto">Data de Nascimento: <label class="dados-aluno">{{al.dt_nascimento}}</label></label><br>
                <label class="texto">Nome do Responsável: <label class="dados-aluno">{{al.cpf_resp.nome}}</label></label><br>
                <label class="texto">Nome da Turma: <label class="dados-aluno">{{al.cod_turma.nome}}</label></label><br>

            </p>
            {% endfor %}

        </div>
    </form>


</div>
<!--
<div id="image">
    <img src="/static/fundo-page.jpg" width="100%" height="100%">
</div>-->
</body>
</html>

