{% include "disciplinas.html" %}

<div class="container">


    <form  action="/update/" method="POST">{% csrf_token %}
        <input type="hidden" class="form-control" value="{{id_disc}}" name="id_disc">
      <input type="hidden" class="form-control" value="{{cpf_prof}}" name="prof">
               <table class="table">
  <thead class="thead-dark">
                <tr>
                    <th>CPF</th>
                    <th scope="col">Nome do Aluno</th>
                    <th scope="col">Notas</th>
                    <th scope="col">Frequência</th>

                </tr>
                </thead>


{% for s in sit%}

             <tbody>
            <tr>

                <td scope="row"><input  style="border: 1px solid #ffffff;width:70px" type="text" name="cpf" value="{{s.cpf.cpf}}"
                                       readonly></td>
                <td scope="row"><input  style="border: 1px solid #ffffff;" type="text" value="{{s.cpf.nome}}" readonly></td>
                <td scope="row" ><input  style="border: 1px solid #ffffff; width:50px;" type="number" step="0.01" name="nota"  value="{{s.nota}}"></td>
                <td scope="row" ><input  style="border: 1px solid #ffffff; width:40px;" type="number" name="freq" value="{{s.frequencia}}" ></td>

            </tr>
{% endfor %}
         </tbody>
            </table>

        <div style="text-align:right;">
          <button type="submit" class="btn btn-info" >Atualizar</button>
            </div>
    </form>

{% if msg %}
<div class="alert alert-success" role="alert">{{msg}}</div>
{% endif %}

 <div style="text-align: left;">
     <a href="/lancamento-nota/{{id_disc}}/{{cpf_prof}}/">Voltar</a>
 </div>

</div>